include ../_templates
include ../_partials
include ../_content

+partials_modal({palette: 'material'})
    article.content
        h1 Serie 5
        ul
            li
                a.js-load-content(href="ana-5A.html") Contenido 5A (animación partes autónomas)
            li
                a.js-load-content(href="ana-5B.html") Contenido 5B (texto)
            li
                a.js-load-content(href="ana-5C.html") Contenido 5C (ilustraciones con mismas partes)
            li
                a.js-load-content(href="ana-5D.html") Contenido 5D (ilustraciones con mismas partes)
            li
                a.js-load-content(href="ana-5E.html") Contenido 5E (ilustraciones con mismas partes)