include ../_templates
include ../_partials
include ../_content

+partials_modal({palette: 'material'})
    article.content
        h1 Serie 4
        ul
            li
                a.js-load-content(href="ana-4A.html") Contenido 4A (muestrario)
            li
                a.js-load-content(href="ana-4B.html") Contenido 4B (texto)
            li
                a.js-load-content(href="ana-4C.html") Contenido 4C (lectura)