include ../_templates
include ../_partials
include ../_content

+partials_modal({palette: 'material'})
    article.content
        h1 Serie 6
        ul
            li
                a.js-load-content(href="ana-6A.html") Contenido 6A (podcast)
            li
                a.js-load-content(href="ana-6B.html") Contenido 6B (texto)