include ../_templates
include ../_partials
include ../_content

+partials_modal({palette: 'material'})
    article.content
        h1 Serie 3
        ul
            li
                a.js-load-content(href="ana-3A.html") Contenido 3A (animación)
            li
                a.js-load-content(href="ana-3B.html") Contenido 3B (texto)
            li
                a.js-load-content(href="ana-3C.html") Contenido 3C (rompecabezas)