include ../_templates
include ../_partials
include ../_content

+partials_modal({palette: 'material'})
    article.content
        h1 Serie 1
        ul
            li
                a.js-load-content(href="ana-1A.html") Contenido 1A (texto)
            li
                a.js-load-content(href="ana-1B.html") Contenido 1B (audio)
            li
                a.js-load-content(href="ana-1C.html") Contenido 1C (podcast)
            li
                a.js-load-content(href="ana-1D.html") Contenido 1D (animación Processing)